@import './smart-grid';
@import './colors';
@import './utils';

@import './icons';

@include reset();

* {
  box-sizing: border-box;
}
html {
  font-family: inherit;
}

.container {
  @include wrapper();
}

.row-flex {
  display: flex;
}
